body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: #f1f1f1;
    color: #0f141e;
}

.container {
    max-width: 700px;
    margin: auto;
    padding-top: 20px;
}

.avatar {
    box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 200px;
    margin-right: 40px;
}

.info {
    margin-bottom: 20px;
    display: flex;
}

@media (max-width: 500px) {
    .info {
        display: block;
        text-align: center;
    }

    .avatar {
        margin: 0;
        height: 200px;
    }
}

.info-text p {
    font-style: italic;
    font-weight: bold;
    color: #205a8e;
    margin: 5px 0px;
}

.info-text h3 {
    margin-bottom: 5px;
}

.info-text a {
    color: #000;
    text-decoration: none;
}

.info-text a:visited {
    color: grey;
}

.info-text a:hover {
    color: rgb(80, 153, 255);
    text-decoration: underline;
}

.info-text a:active {
    color: magenta;
}

.card {
    border-radius: 20px;
    background: #ced7e4;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.card h2 {
    margin: 10px 0px;
}

.list-hobby {
    padding: 0px 10px;
}

.list-hobby li {
    margin-bottom: 5px;
    list-style-type: square;
}

.table-job {
    width: 100%;
}

.table-job th, td {
    padding-bottom: 10px;
}

.table-job tr:nth-child(odd) {
    background: rgb(162, 29, 51);
    color: #fff;
}

.courses {
    padding-left: 0;  /*убрать, когда появятся новые пройденные курсы*/
}

.courses li {
    list-style-type: none; /*убрать, когда появятся новые пройденные курсы*/
}

.courses a {
    text-decoration: none;
}

.courses a:hover {
    color: darkorange;
    text-decoration: underline;
}

.form h2{
    text-align: center;
}

.union {
    display: flex;
    margin-bottom: 15px;
}

.union .feedback {
    /* display: inline-block;
    width: calc(50% - 7px); */
    width: 50%;
    margin-right: 10px;
}

.union .feedback:last-child {
    margin-right: 0;
}


.feedback label {
    letter-spacing: 3px;
}

.feedback input, textarea {
    width: 100%;
    border: none;
    font-family: inherit;
    font-size: 15px;
    padding: 10px 0px;
    outline: none;
}

@media (max-width: 500px) {
    .union {
        display: block;
    }

    .union .feedback {
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0;
    }

}

.btn {
    margin-top: 10px;
    padding: 10px;
    color: #fff;
    background: #000;
    font-family: inherit;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: darkgray;
    color: #000;
}




.bg-blue {
    background: rgb(48, 48, 218);
    color: #fff;
}

.bg-orange {
    background: orangered;
}

.bg-green {
    background: greenyellow;
}

